html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

body {
    color: #222;
    background-color: rgb(236, 226, 217);
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-weight: bold;
    font-size: 10pt;
}

img {
    max-width: 100%;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3f2000;
    color: white;
    height: 56px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    align-items: center;
    z-index: 10000;
}

#content {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

#crumb {
    padding-left: 1.25em;
    order: -1;
    flex: 1 1 30%;
}

#centerhead {
    display: flex;
    flex: 1 1 70%;
    justify-content: center;
    font-weight: normal;
    text-align: center;
    flex-direction: column;
}

#centerhead #title {
    font-size: 18px;
    font-weight: bold;
}

.title {
    display: block;
    font-size: larger;
    font-weight: bolder;
}

.subtitle {
    display: block;
    font-size: smaller;
}

#about {
    align-self: center;
    padding: .5em;
}

#scriptures {
    min-width: 220px;
    max-width: 440px;
    flex: 1 1 30%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #aaa;
    position: relative;
}

#scripnav {
    position: absolute;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

#map {
    flex: 1 1 70%;
}

.volume {
    padding: .5em;
    font-size: 12pt;
}

div.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 .3em;
    margin: 0;
}

div.books a {
    flex: 0 0 6em;
    font-weight: normal;
    margin: .4em;
    padding-left: .5em;
    padding-right: .5em;
    background-color: hsla(0,0%,100%,.65);
    color: #222;
}

.books .chapter {
    flex: 0 0 4em;
}

.volume h5 {
    font-size: 1.24rem;
    margin: 0.72rem 0 0.556rem 0;
    text-align: center;
}

.books li {
    flex: 0 0 5.4em;
    align-content: center;
    list-style: none;
    height: 24px;
    min-width: 5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .5em .5em 0 .5em;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 11pt;
    font-weight: normal;
    text-shadow: 2px 0px 2px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border: solid 5px;
}

.btn {
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
}

#crumb ul {
    padding: 0;
    margin: 0;
    line-height: 1.0;
}

#crumb li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    text-decoration: underline;
}

#header a:link,
#header a:visited,
#header a:active {
    color: white;
    text-decoration: none;
}

#header a:hover {
    color: #d0d0ff;
    text-decoration: underline;
}

#crumb li:not(:first-child)::before {
    content: "|";
    padding: .3em;
}

.text {
    padding: 1em;
    font-weight: normal;
    font-size: 12pt;
}

.scripturewrapper {
    position: absolute;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    font-weight: normal;
    background-color: white;
    padding-bottom: 3rem;
    opacity: 1;
}

.chapterheading {
    font-size: 14pt;
    font-weight: bold;
    padding: .5em;
    text-align: center;
}

.chapterheading .big {
    font-size: 140%;
}

.navheading {
    font-size: 13pt;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#scriptures ul.versesblock {
    margin: 0;
    list-style: none;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 13pt
}

ul.versesblock li {
    position: relative;
    display: block;
    margin-bottom: .3em;
}

.versesblock .sectionHeader {
    font-style: italic;
}

.verse {
    padding-left: .4em;
    padding-right: .3em;
}

.scripturewrapper li a:link,
.scripturewrapper li a:visited,
.scripturewrapper li a:active {
    color: #44b;
    text-decoration: none;
}

.scripturewrapper li a:hover {
    color: #4488ff;
    text-decoration: underline;
}

.navheading a:link,
.navheading a:visited,
.navheading a:active {
    color: #ffffff;
    text-decoration: none;
    background: #3f2000;
    padding: 5px 5px;
    border-radius: 4px;
}

.navheading a:hover {
    color: #4488ff;
    text-decoration: underline;
}

.navheading .next {
    position: absolute;
    left: 2.3em;
    bottom: .5em;
    z-index: 100;
}

.navheading .prev {
    position: absolute;
    left: .5em;
    bottom: .5em;
    z-index: 100;
}

.match {
    background-color: #ffffcc;
}

@media all and (max-width: 629px) {
    #header {
        flex-direction: column;
    }
    
    #crumb {
        order: 2;
        flex: 1 1 100%;
    }
    
    #centerhead {
        order: -1;
        flex: 1 1 100%;
        margin-top: 5px;
    }
    
    #centerhead #subtitle {
        display: none;
    }
    
    #content {
        flex-direction: column;
    }
  
    #scriptures {
        min-width: 100%;
        max-width: 100%;
        flex: 1 1 100%;
        height: 50%;
        min-height: 50%;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        order: 2;
    }
  
    #map {
        flex: 1 1 100%;
        order: 1;
    }
}
